<div class="container">
  <div class="card position-absolute top-50 start-50 translate-middle" style="width: 18rem;">
    <div class="card-header">
      Delivery details
    </div>
    <%= form_with model: @order, url: create_order_path do |form| %>
      <div class="card-body">
        <%= form.label :email, "Email" %>
        <%= form.email_field :email, value: @user_email, class: 'form-control' %>
        <%= form.label :name, "Name" %>
        <%= form.text_field :name, class: 'form-control' %>
        <%= form.label :address, "Address" %>
        <%= form.text_field :address, class: 'form-control'%>
        <%= form.hidden_field :user_id, value: @user_id %>
      </div>
      <div class="card-footer">
        <div class="row">
          <%= form.submit "Continue", class: "btn btn-primary" %>
    <% end %>
    <%= link_to "Back", shops_path, class: "btn"%>
    </div>
    </div>
  </div>
</div>
