<div class="container">
  <%= render 'partials/cart_badger' %>
  <%= render 'partials/search_product' %>

  <% if params[:q].present? %>
    <%= render 'partials/products_table' %>
  <% end %>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Shop</th>
      <th scope="col">Categories</th>
    </tr>
    </thead>
    <tbody>
    <% @shop.each_with_index do |shop, i| %>
    <tr>
      <th scope="row"><%= i + 1 %></th>
      <td><%= shop.name %></td>
      <td><%= link_to "Categories", categories_path(shop.id), class: "btn btn-secondary"%></td>
    </tr>
    <% end %>
    </tbody>
  </table>
  <%= link_to "Back", root_path, class: "btn btn-secondary" %>
</div>
