<div class="container">
  <%= link_to cart_path, :class => "btn btn-primary mt-3" do %>
    Cart
    <span class="badge bg-secondary"><%= @amount_sum %></span>
  <% end %>
  <br>
  Search Form: <br>
  <%= search_form_for @search do |f| %>
    <%= f.condition_fields do |c| %>
      <%= c.attribute_fields do |a| %>
        <%= a.attribute_select %>
      <% end %>
      <%= c.predicate_select only: [:cont, :lteq, :gteq]%>
      <%= c.value_fields do |v| %>
        <%= v.text_field :value %>
      <%end %>
    <%end %>
    <%= f.submit %>
  <% end %>
  <%= link_to "Reset Search", products_path %>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Add to cart</th>
    </tr>
    </thead>
    <tbody>
      <% @products.each_with_index do |product, i| %>
      <tr>
        <th scope="row"><%= i + 1 %></th>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= button_to "Add to cart", create_cart_item_path(product.id), remote: true, class: "btn btn-primary"%></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= link_to "Back", categories_path(@shop_id), class: "btn btn-secondary"%>
</div>
