<div class="container">
  <%= link_to cart_path, :class => "btn btn-primary mt-3" do %>
    Cart
    <span class="badge bg-secondary"><%= @amount_sum %></span>
  <% end %>
  <table class="table">
    <tbody>
    <tr>
      <th scope="col">Name</th>
      <td><%= @product.name %></td>
    </tr>
    <% if @product.main_image.present? %>
      <th scope="col">Main image</th>
      <td><%= image_tag url_for(@product.main_image), size: '200x200' %></td>
    <% end %>
    <tr>
      <th scope="col">Price</th>
      <td><%= @product.price %></td>
    </tr>
    </tbody>
  </table>
  <% if @product.images.present? %>
  <span style="font-weight: bold">Images:</span>
  <div id="carouselImages" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag url_for(@product.images.first), size:'300x300', class: 'd-block mx-auto' %>
      </div>
      <% @product.images.drop(1).each do |img| %>
        <div class="carousel-item">
          <%= image_tag url_for(img), size:'300x300', class: 'd-block mx-auto' %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselImages" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-dark" style="border-radius: 8px" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselImages" data-bs-slide="next">
      <span class="carousel-control-next-icon bg-dark" style="border-radius: 8px" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
    <% end %>
  <%= button_to "Add to cart", create_cart_item_path(@product.id), remote: true, class: "btn btn-primary"%>
  <%= link_to "Back", @back_url, class: "btn btn-secondary"%>
</div>
